.wrapper_body {
  font-family: Oxygen, sans-serif;
  margin: 2rem;
  padding: 200px;
}

.wrapper {
  margin-top: 5rem;
    display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 25rem));
  gap: 2rem;
  justify-content: center;
  overflow: hidden;
  box-shadow: 0 2px 20px #e1e5ee;
  border-radius: 20px;
  flex-direction: column;
  cursor: pointer;
  transition: transform 200ms ease-in;
  background-color: #f2f5fb;
  width: 342px;
  height: 440px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.title {
  padding: 1rem;
  color: #87943a;
}

.wrapper_body {
  padding: 0 1rem;
  color: #87943a;
}

.btn {
  padding: 1rem;
  font-family: inherit;
  font-weight: bold;
  font-size: 1rem;
  margin: 1rem;
  border: 2px solid #8e6e6e;
  background: transparent;
  background-color: #b4c5de;
  border-radius: 0.2rem;
  transition: background 200ms ease-in, color 200ms ease-in;
}

.wrapper :hover {
  transform: scale(1.02);
}

.wrapper :hover .card__btn {
  background: #d50000;
  color: white;
}
.val{
    color: #d50000
}