.card {
  overflow: hidden;
  box-shadow: 0 2px 20px #e1e5ee;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 200ms ease-in;
  background-color: #F2F5FB;
}

  .card__title {
    padding: 1rem;
    color: #000000;
  }

  .card__description {
    padding: 0 1rem;
    color: #000000;
  }

  .card__btn {
    padding: 1rem;
    font-family: inherit;
    font-weight: bold;
    font-size: 1rem;
    margin: 1rem;
    border: 2px solid #000000;
    background: transparent;
    color: #000000;
    border-radius: 0.2rem;
    transition: background 200ms ease-in, color 200ms ease-in;
  }

  .card :hover {
    transform: scale(1.02);
  }

  .card :hover .card__btn {
    background: #d50000;
    color: white;
  }
